In [4]:
import pandas as pd
india=pd.DataFrame({
    'city':['mumbai','delhi','banglore'],
    'temperture':[33,29,26],

})

us=pd.DataFrame({
    'city':['mumbai','delhi','banglore'],
    'wheather':['sunny','sunny','rainy']
})
a=pd.merge(india,us,on='city')
a

       city  temperture wheather
0    mumbai          33    sunny
1     delhi          29    sunny
2  banglore          26    rainy