In [2]:
import pandas as pd
df = pd.read_excel('wheatherpivote.xlsx')
df

FileNotFoundError: [Errno 2] No such file or directory: 'wheatherpivote.xlsx'

In [5]:
df.pivot(index='date',columns='city')

           temperture                 humidity
city          beijing mumbai new york  beijing mumbai new york
date
2017-01-05         80     75       65       26     80       56
2017-02-05         77     78       66       30     83       58
2017-03-05         79     82       68       35     85       60

In [ ]:
df=pd.read_excel('wheather2.xlsx')
df

        date      city  temperature  humidity
0 2017-01-05  new york           65        56
1 2017-02-05  new york           61        54
2 2017-03-05  new york           70        60
3 2017-01-12  new york           30        50
4 2017-02-12  new york           28        52
5 2017-03-12  new york           25        51

In [1]:
df.pivot_table(index=pd.Grouper(freq='M',key='date'))

NameError: name 'df' is not defined